<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= productName %></title>
    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= productName %>" />
    <meta property="og:description" content="<%= productDescription %>" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="<%= productName %>" />
    <meta property="twitter:description" content="<%= productDescription %>" />

    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="icons/favicon-48x48.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>

  <script>
    document.addEventListener('wheel', () => {
      // Disable change value with scroll in every <input type='number'/>
      if (document.activeElement.type === 'number') {
        document.activeElement.blur();
      }
    });
  </script>
</html>
